.div{
  position: absolute; 
  font-size:10px;
  font-family:verdana;
}
.div2{
  position: absolute; 
  font-size:10px;
  font-family:verdana;
  border:thin solid black;
}
#div{
  position: absolute; 
  font-size:10px;
  font-family:verdana;
  height:100px;
  width:100px;
}
body{
  font-size:10px;
  font-family:verdana;
}
option{
  font-size:10px;
  font-family:verdana;
}
select{
  font-size:10px;
  font-family:verdana;
}
hr{
  border:thin solid black;
}
.lien{
  font-size:10px;
  font-family:verdana;
  text-decoration: none;
}
.texte1{
  font-size:10px;
  font-family:verdana;
}